<!DOCTYPE html>
<html>
<head>
	<title>Piqual - Post Game Stats</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>
<body>
  <div class="stats">
  <h1>Thank you for playing! </h1>
  <h4>You played {{ session.total }} games. </h4>
  <p>That is more than {{ (100 - args[0]) | round(2) }} % of players! </p>

  <h4>Out of those, you won {{ session.current }} games. </h4>
  <h5>Which puts you in the top {{ args[1] | round(2) }} % of players! </h5>

  <h4>Your Win Rate is {{(args[2] * 100) | round(2) }} %</h4>
  <h5>That is higher than {{ (100 - args[3]) | round(2) }} % of people! </h5>
  <p>Your performance was also better than {{ (100 - args[4]) | round(2) }} % of the AI </p>
  <a href="/reset">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored center">
      Done
    </button>
  </a>
  </div>

</body>
</html>

<style>
.stats {
	text-align: center;
}
</style>